.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 12px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--Header-backgroundColor);
}

.header .header-nav {
  display: flex;
  align-items: center;
}

.header .logo {
  display: flex;
  align-items: center;
  margin: 10px auto 10px 18px;
}

.header .logo .icon {
  height: var(--HeaderLogo-height);
}

.header .logo a {
  line-height: 0;
}

.header .header-nav .icon {
  fill: var(--HeaderIcon-fill);
  height: 20px;
  width: 20px;
  vertical-align: middle;
  flex-shrink: 0;
}

.header .logo .version {
  color: var(--HeaderLogoVersion-color);
  font-size: var(--font-size-xs);
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 6px;
}

.header .btn {
  height: 28px;
  width: 28px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.header .share,
.header .create-guest {
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: none;
  font-size: var(--font-size-xl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 19px;
  padding: 4px 10px;
  text-align: center;
}
.header .share {
  color: var(--HeaderShare-color);
}
.header .create-guest {
  color: var(--HeaderCreateGuest--color);
}

.header .btn {
  height: 28px;
  width: 28px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.header .share .icon,
.header .dropdown-create .icon {
  height: 13px;
  vertical-align: middle;
  width: 13px;
}

.header .create-guest .icon,
.header .dropdown-create .icon {
  height: 13px;
  vertical-align: middle;
  width: 13px;
}

.header .share .text,
.header .create-guest .text {
  margin-left: 5px;
}

.header .header-dropdown .dropdown-label {
  font-weight: 600;
  font-size: var(--font-size-xl);
  line-height: 22px;
  margin: 0 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header .icon.icon-lang {
  height: 28px;
  width: 28px;
}

.header .header-dropdown .icon.icon-dropdown {
  height: 5px;
  width: 10px;
}

.header .header-nav-right > *:not(:first-child) {
  margin-left: 10px;
}

.header .dropdown-nav {
  max-width: 180px;
}

.header .dropdown-nav .icon.icon-user {
  height: 15px;
  width: 15px;
  padding: 5px;
}

.header-menu {
  list-style-type: none;
  padding: 0;
}

.header-menu .menu-item {
  cursor: pointer;
}

.header-menu .menu-item-text {
  display: block;
  padding: 8px 16px;
  font-size: var(--font-size-xl);
  line-height: 22px;
  color: var(--HeaderMenuItemText-color);
  text-decoration: none;
}

.header-menu .menu-item-divider {
  cursor: default;
  pointer-events: none;
  border-top: 1px solid var(--HeaderMenuItemDivider-color);
  margin: 8px 0;
}

.header-nav-right.call .share .text,
.header-nav-right.call .header-dropdown .dropdown-label {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 15px 12px;
    align-items: flex-start;
  }

  .header .header-nav {
    flex: 1 1 50px;
  }

  .header .header-nav-right {
    justify-content: flex-end;
  }

  .header:not(.header-auth) {
    margin-bottom: 15px;
  }

  .header .dropdown-create,
  .header .create-guest,
  .header .share,
  .header .logout {
    display: none;
  }

  .header .logo {
    flex-direction: column;
    margin: 0;
  }

  .header .logo .version {
    margin: 18px 0 0;
  }

  .header.header-auth .logo .version {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .main-screen.on-call > .column .header .dropdown-create,
  .main-screen.on-call > .column .header .share,
  .main-screen.on-call > .column .header .create-guest,
  .main-screen.on-call > .column .header .logout {
    display: none;
  }

  .main-screen.on-call > .column .header .logo {
    flex: 1;
    margin: 10px 40px 10px auto;
  }
}
