.main-screen {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  width: 100%;
  overflow: auto;
}

.main-screen .loading-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.main-screen .screen-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .main-screen {
    overflow: unset;
  }

  .offline .main-screen {
    margin-top: 41px;
  }

  .main-screen .screen-wrapper {
    min-height: unset;
  }
}
