.select-container {
  box-sizing: border-box;
  color: var(--Secondary-elements);
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 10px;
  outline: none;
  position: relative;
  text-align: start;
  border: 1px solid var(--blue-3);
  border-radius: 4px;
  transition: box-shadow 0.2s ease-in-out;
}

.select-container .select__control {
  border: none;
  border-radius: 4px;
  padding: 0.7em 1.2em;
  cursor: pointer;
}

.select-container .select__control:hover {
  border-color: var(--blue-3);
}

.select-container.menu-is-open, .select-container .select__control--menu-is-open {
  border-radius: 4px 4px 0 0;
}

.select-container.menu-is-open,
.select-container.is-focused {
  box-shadow: 0 4px 11px 4px var(--Outgoing-background);
}

.select-container .select__control--menu-is-open,
.select-container .select__control--is-focused {
  box-shadow: none;
}

.select-container .select__value-container {
  padding: 0;
}

.select-container .select__placeholder {
  color: var(--blue-7);
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  overflow: hidden;
}

.select-container .select__input-container {
  margin: 0;
  padding: 0;
}

.select-container .select__indicator {
  padding: 0;
}

.select-container .select__loading-indicator {
  display: none;
}

.select-container .icon {
  height: 24px;
  width: 24px;
}

.select-container .arrow {
  transition: transform 0.2s linear;
  vertical-align: middle;
}

.select-container .select__control--menu-is-open .arrow {
  transform: rotate(180deg);
}

.select-container .select__indicator-separator {
  display: none;
}

.select-container .select__menu {
  margin: 1px 0 0;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 3px 18px 0 var(--grey-8);
  min-height: 50px;
  background-color: var(--Interface-background);
  overflow: hidden;
}

.select-container .select__menu-list {
  padding: 0;
  max-height: 180px;
}

.select-container .select__option {
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid transparent;
  overflow: hidden;
}

.select-container .select__option, .select-container .select__menu-notice {
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  padding: 0.7em 2.2em 0.7em 1.2em;
}

.select-container .select__option--is-selected {
  background-color: inherit;
}

.select-container .select__option--is-focused,
.select-container .select__option:active {
  background-color: var(--grey-2);
}

.select-container .check {
  height: 10px;
  position: absolute;
  right: 16px;
  fill: var(--Main-elements);
  width: 20px;
}

.select-container .spinner {
  display: block;
  height: 16px;
  left: 0;
  position: absolute;
  right: 0;
  top: -24px;
  transition: all 0.2s ease;
  z-index: 1;
}

.select-container .spinner.active {
  top: 8px;
}
