html, body {
  height: 100%;
  min-width: 330px;
  width: 100%;
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

#app-root {
  background-color: var(--blue-1);
  min-height: 100%;
  text-align: center;
  width: 100%;
}

#modal-root {
  position: relative;
}

.hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.error-form {
  font-size: var(--caption2-size);
  line-height: var(--caption2-line-height);
  margin-top: 2px;
  color: var(--red-4);
  text-align: center;
  white-space: normal;
}

.link {
  text-decoration: none;
  color: var(--Main-elements);
}

.link:hover {
  color: var(--Main-elements);
}

button {
  cursor: pointer;
  font-family: var(--font-family);
}

input:disabled, button:disabled {
  cursor: not-allowed;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

@media screen and (max-width: 768px) {
  .m-hidden {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .d-hidden {
    display: none;
  }
}
