.provider-biography-modal .container {
  background-color: var(--ProviderBiographyModal-backgroundColor);
  border-radius: 6px;
  color: var(--ProviderBiographyModal-color);
  font-size: var(--font-size-xl);
  letter-spacing: 0;
  line-height: 22px;
  width: 800px;
  max-height: 800px;
  height: 100%;
  overflow-y: auto;
}

.provider-biography-modal .back {
  background-color: transparent;
  border: none;
  display: none;
  height: 28px;
  padding: 4px;
  width: 28px;
  margin-right: 15px;
}

.provider-biography-modal .back .icon {
  height: 20px;
  width: 20px;
  fill: var(--ModalHeaderBackIcon-fill--mobile);
}

.provider-biography-modal .header-nav {
  display: flex;
  align-items: center;
}

.provider-biography-modal .container .header-card {
  display: flex;
  padding: 20px;
  align-items: flex-start;
  border-bottom: 1px solid var(--ProviderBiographyModalHeader-borderBottomColor);
}

.provider-biography-modal .container .header-card .header-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.provider-biography-modal .container .header-card .user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.provider-biography-modal .container .header-card .user-info .user-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ProviderBiographyModalUserName-color);
}

.provider-biography-modal .container .header-card .user-info .avatar {
  width: 60px;
  height: 60px;
  margin-right: 12px;
}

.provider-biography-modal .container .main-card {
  padding: 20px;
}

.provider-biography-modal .container .main-card .provider-info {
  text-align: start;
  font-size: var(--font-size-xl);
  line-height: 22px;
  margin: 0;
  white-space: pre-wrap;
  font-family: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .provider-biography-modal .container {
    width: 100%;
    height: 100%;
    border-radius: 0;
    max-height: none;
  }

  .provider-biography-modal .container .header-card {
    box-shadow: var(--ModalHeader-boxShadow--mobile);
    padding: 17px 13px;
  }

  .provider-biography-modal .back {
    display: inline-block;
  }

  .provider-biography-modal .icon-close {
    display: none;
  }

  .provider-biography-modal .container .header-card .user-info .avatar {
    width: 26px;
    height: 26px;
  }
}
