.appointment-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}

.appointment-info .title {
  color: var(--AppointmentInfoTitle-color);
  font-size: var(--font-size-md);
  line-height: 15px;
}

.appointment-info .body {
  box-shadow: var(--AppointmentInfoBody-boxShadow);
  color: var(--AppointmentInfoBody-color);
}

.appointment-info .user-info .body .item {
  box-sizing: border-box;
  display: inline-block;
  padding: 6px;
  width: 50%;
}

.appointment-info .user-info .body .email,
.appointment-info .user-info .body .address {
  width: 100%;
}

.appointment-info .user-info .body .item .value {
  text-transform: capitalize;
}

.appointment-info .user-info .body .email .value {
  text-transform: lowercase;
}

.appointment-info .user-info .body .item .label {
  color: var(--AppointmentInfoUserInfoLabel-color);
  font-size: var(--font-size-md);
  margin-right: 12px;
}

.appointment-info .icon.edit {
  height: 12px;
  width: 12px;
}

.appointment-info .record-list {
  margin: 0;
  padding: 0;
}

.appointment-info .record-item {
  list-style: none;
  margin: 9px 0;
}

.appointment-info .record-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--AppointmentInfoRecordLink-color);
}

.appointment-info .icon.file-video {
  height: 19px;
  width: 19px;
  margin-right: 5px;
  fill: var(--AppointmentInfoRecordIcon-fill);
}

@media screen and (max-width: 768px) {
  .appointment-info .user-info .body .item {
    width: 100%;
  }
}
