.chat-container {
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 var(--grey-8);
  background-color: var(--Interface-background);
  display: flex;
  flex-direction: column;
  margin: 1px 12px 12px;
  overflow: hidden;
  width: 350px;
}

.chat-container header {
  align-items: center;
  box-shadow: 0 0 6px 0 var(--secondary-800);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 62px;
  justify-content: flex-start;
  padding: 0 12px;
  z-index: 1;
}

.chat-container header .back {
  background-color: transparent;
  border: none;
  display: none;
  height: 28px;
  padding: 4px;
  width: 28px;
}

.chat-container header .back label {
  cursor: inherit;
}

.chat-container header .back .icon {
  height: 20px;
  width: 20px;
  fill: var(--secondary-900);
}

.chat-container header .dialog-info {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
  overflow: hidden;
  color: inherit;
}

.chat-container header .dialog-info .dialog-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chat-container header .dialog-info .call-time {
  color: var(--blue-7);
  font-size: var(--caption2-size);
}

.chat-container main {
  align-items: center;
  background-color: var(--blue-2);
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .offline .chat-container {
    top: 41px;
    height: calc(100% - 41px);
  }

  .chat-container {
    border-radius: 0;
    height: 100%;
    margin: 0;
    position: fixed;
    right: -100%;
    top: 0;
    transition: right 0.25s ease-in-out;
    width: 100%;
    z-index: 2;
  }

  .main-screen .chat-container.open {
    right: 0;
  }

  .chat-container header .back {
    display: initial;
    margin-right: 12px;
  }
}
