.field {
  border-radius: 4px;
  border: 1px solid var(--Field-borderColor);
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  transition: box-shadow 0.2s ease-in-out;
}

textarea.field,
input.field,
.field input {
  outline: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

textarea.field {
  min-height: 45px;
  resize: vertical;
  line-height: 1.38;
  height: 100%;
}

.field input {
  width: 100%;
  border: none;
  padding: 0;
}

textarea.field:focus,
textarea.field:active,
input.field:focus,
input.field:active,
.radio-field > input:focus + span::before,
.field.select-field--focus,
.field.date-field--focus {
  box-shadow: 0 4px 11px 4px var(--Field-boxShadowColor--focus);
}

.flex-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textarea-wrapper {
  position: relative;
  line-height: 0;
}

.textarea-wrapper .textarea-length {
  position: absolute;
  bottom: 10px;
  right: 12px;
  line-height: 1;
  color: var(--TextareaLength-color);
  opacity: 0.5;
}

/* Radio */
.radio-field {
  font-size: var(--font-size-lg);
  line-height: 0;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}

.radio-field > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio-field > span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.radio-field > span::before {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--RadioField-borderColor);
  border-radius: 50%;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.radio-field > input:checked + span::before {
  border: 5px solid var(--RadioField-borderColor--checked);
  background-color: var(--RadioField-backgroundColor--checked);
}

/* Select */
.field.select-field {
  position: relative;
  background-color: var(--SelectField-backgroundColor);
}

.field.select-field .flex-field-input.hiden {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.field.select-field .icon {
  cursor: pointer;
  height: 10px;
  width: 10px;
  vertical-align: middle;
  fill: var(--SelectFieldArrowIcon-fill);
  transition: transform 0.2s linear;
}

.field.select-field .select-field-list {
  z-index: 2;
  position: absolute;
  top: 53px;
  left: 0;
  max-height: 208px;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  border-radius: 5px;
  background-color: var(--SelectFieldList-backgroundColor);
  box-shadow: 0 10px 26px 0 var(--SelectFieldList-boxShadowColor);
  text-align: start;
  overflow: auto;
}

.field.select-field .select-field-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 10px;
  color: var(--SelectFieldLabel-color);
}

.field.select-field .select-field-option {
  list-style-type: none;
  padding: 10px 16px;
  cursor: pointer;
  color: var(--SelectFieldOption-color);
}

.field.select-field .select-field-option[aria-selected='true'] {
  background-color: var(--SelectFieldOption-backgroundColor--selected);
  box-shadow: inset 3px 0 0 0 var(--SelectFieldOption-boxShadowColor--selected);
}

.field.select-field .select-field-option:hover {
  background-color: var(--SelectFieldOption-backgroundColor--hover);
  box-shadow: inset 3px 0 0 0 var(--SelectFieldOption-boxShadowColor--hover);
}

.field.select-field.select-field--opened .icon {
  transform: rotate(180deg);
}

/* DateInput */
.field.date-field {
  background-color: var(--DateInputField-backgroundColor);
}

.field .DayPickerInput {
  width: 100%;
}

.field.date-field label {
  line-height: 0;
}

.field.date-field .icon {
  cursor: pointer;
  height: 22px;
  width: 22px;
  vertical-align: middle;
  fill: var(--DateFieldInputCalendarIcon-fill);
}

.field.date-field--focus .icon {
  fill: var(--DateFieldInputCalendarIcon-fill--focus)
}

.field .DayPickerInput-Overlay {
  top: 20px;
  left: -15px;
  width: 368px;
  border-radius: 5px;
  background-color: var(--DateFieldOverlay-backgroundColor);
  box-shadow: 0 10px 26px 0 var(--DateFieldOverlay-boxShadowColor);
}

.field .DayPicker-wrapper {
  padding: 30px;
}

.field .nav-icon {
  height: 16px;
  width: 9px;
  vertical-align: middle;
}

.field .nav-icon-prev {
  transform: rotate(180deg);
}

.field .DayPicker-Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-xl);
  line-height: 22px;
  width: 75%;
  margin: 0 auto;
  color: var(--DateFieldNav-color);
}

.field .DayPicker-Nav-btn {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 5px;
}

.field .DayPicker-Nav-btn.hide {
  visibility: hidden;
}

.field .DayPicker-Month {
  margin: 0;
}

.field .DayPicker-Caption {
  display: none;
}

.field .DayPicker-Weekdays {
  margin: 0;
}

.field .DayPicker-Weekdays,
.field .DayPicker-WeekdaysRow,
.field .DayPicker-Week {
  display: block;
}

.field .DayPicker-Weekday,
.field .DayPicker-Day {
  display: inline-block;
  font-size: var(--font-size-lg);
  line-height: 1;
  color: var(--DayPicker-color);
  margin: 3px 9px;
  padding: 0;
}

.field .DayPicker-Weekday {
  width: 26px;
  margin: 9px;
}

.field .DayPicker-Day--outside{
  color: var(--DayPicker-color--outside);
}

.field .DayPicker-Day--disabled {
  color: var(--DayPicker-color--disabled);
}

.field .DayPicker-Day--today {
  color: var(--DayPicker-color--today);
}

.field .DayPicker-Day-Item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.field .DayPicker-Day--selected,
.field .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside),
.field .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover,
.field .DayPicker:not(.DayPicker--interactionDisabled) .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: transparent;
}

.field .DayPicker-Day--selected .DayPicker-Day-Item {
  background-color: var(--DayPicker-backgroundColor--selected);
  color: var(--DayPicker-color--selected);
}

.field .DayPicker:not(.DayPicker--interactionDisabled) .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover .DayPicker-Day-Item {
  background-color: var(--DayPicker-backgroundColor--hover);
}

@media screen and (max-width: 768px) {
  .field .DayPickerInput-Overlay {
    width: calc(100% + 52px);
    max-width: 330px;
    display: flex;
    justify-content: center;
  }

  .field .DayPicker-wrapper {
    padding: 20px 10px;
  }

  .field .DayPicker-Weekday, .field .DayPicker-Day {
    margin: 3px 5px;
  }

  .field .DayPicker-Weekday {
    margin: 5px;
  }

  .field.date-field-sm .DayPickerInput-Overlay {
    width: 273px;
    max-width: 330px;
    display: flex;
    justify-content: center;
  }

  .field.date-field-sm .DayPicker-wrapper {
    padding: 20px 10px;
  }

  .field.date-field-sm .DayPicker-Weekday, .field.date-field-sm .DayPicker-Day {
    margin: 3px 5px;
  }

  .field.date-field-sm .DayPicker-Weekday {
    margin: 5px;
  }
}
