.login-screen {
  flex: 1;
  width: 100%;
}
.login-screen .login-form {
  background-color: var(--LoginForm-backgroundColor);
  border-radius: 5px;
  margin: 60px auto 0;
  padding: 60px 73px;
  width: 490px;
  box-sizing: border-box;
  color: var(--LoginForm-color);
  box-shadow: var(--LoginForm-boxShadow);
  transition: all 0.2s ease-in;
}

.login-screen .title {
  margin: 0 0 40px;
}

.login-screen .btn-group {
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .login-screen .login-form {
    padding: 30px 15px;
    width: calc(100% - 20px);
    margin-top: 0;
  }

  .login-screen .title {
    margin-bottom: 20px;
  }
}
