:root {
  /* Globals */
  --font-family: 'Open Sans', -apple-system, 'Ubuntu', sans-serif;
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-md: 13px;
  --font-size-lg: 14px;
  --font-size-xl: 16px;
  --font-size-xxl: 20px;

  /* Palettes */
  --grey-1: #FFF;
  --grey-2: #F9F9F9;
  --grey-6: rgba(255, 255, 255, 0.2);
  --grey-7: #333;
  --grey-8: rgba(0, 0, 0, 0.2);
  --grey-10: rgba(0, 0, 0, 0.4);
  --grey-11: rgba(0, 0, 0, 0.8);
  --grey-12: #151515;
  --grey-13: #000;

  --blue-1: #FAFAFB;
  --blue-2: #F4F6F9;
  --blue-3: #CCD0D9;
  --blue-4: #ACBFE2;
  --blue-5: #99A9C6;
  --blue-6: #97A0B3;
  --blue-7: #6C7A92;
  --blue-8: rgba(57, 120, 252, 0.2);
  --blue-9: #3978FC;

  --red-4: #FC5E39;
  --red-5: #FF4B4B;
  --red-6: #EF3248;

  --green-4: #00CC4C;
  --green-5: #00C248;

  /* Common */
  --error-color: var(--red-4);
  --root-backgroundColor: var(--blue-1);

  --link-color: var(--blue-9);
  --link-color--hover: var(--blue-9);

  /* Components */
  --AccentContainer-backgroundColor: var(--grey-10);

  --Accordeon-borderBottomColor: var(--blue-3);
  --AccordeonBtn-backgroundColor: var(--grey-1);
  --AccordeonIcon-fill: var(--grey-13);
  --AccordeonBody-backgroundColor: var(--grey-1);

  --Avatar-borderColor: var(--blue-3);
  --Avatar-backgroundColor: var(--grey-1);
  --AvatarIcon-fill: var(--blue-3);

  --AvatarUpload-borderColor: var(--blue-3);
  --AvatarUpload-backgroundColor: var(--grey-1);
  --AvatarUpload-boxShadowColor--focus: var(--blue-4);
  --AvatarUploadPlus-backgroundColor: var(--grey-7);

  --Btn-boxShadowColor--focus: var(--blue-4);
  --Btn-borderColor--default: var(--grey-13);
  --Btn-backgroundColor--default: var(--grey-1);
  --Btn-color--default: var(--grey-7);
  --Btn-backgroundColor--primary: var(--blue-9);
  --Btn-color--primary: var(--grey-1);
  --Btn-backgroundColor--disabled: var(--blue-5);
  --Btn-color--disabled: var(--grey-1);

  --AppointmentCardDateDivider-backgroundColor: var(--grey-13);
  --AppointmentCardUserName-color: var(--grey-13);
  --AppointmentCardDescription-background: linear-gradient(180deg, rgba(255, 255, 255, 0), var(--grey-1) 100%);

  --DropdownToggle-color: var(--grey-7);
  --DropdownMenu-backgroundColor: var(--grey-1);
  --DropdownMenu-boxShadowColor: var(--grey-8);
  --DropdownItemText-color: var(--grey-7);
  --DropdownItemDivider-borderTopColor: var(--blue-3);
  --DropdownItem-backgroundColor--active: var(--grey-2);
  --DropdownItem-backgroundColor--hover: var(--grey-2);
  --DropdownItem-boxShadowColor--active: var(--blue-9);

  --Field-borderColor: var(--blue-3);
  --Field-boxShadowColor--focus: var(--blue-4);
  --TextareaLength-color: var(--grey-7);
  --RadioField-borderColor: var(--blue-5);
  --RadioField-borderColor--checked: var(--blue-9);
  --RadioField-backgroundColor--checked: var(--grey-1);
  --SelectField-backgroundColor: transparent;
  --SelectFieldArrowIcon-fill: var(--grey-13);
  --SelectFieldLabel-color: inherit;
  --SelectFieldOption-color: inherit;
  --SelectFieldList-backgroundColor: var(--grey-1);
  --SelectFieldList-boxShadowColor: var(--grey-8);
  --SelectFieldOption-backgroundColor--selected: var(--grey-2);
  --SelectFieldOption-backgroundColor--hover: var(--grey-2);
  --SelectFieldOption-boxShadowColor--selected: var(--blue-9);
  --SelectFieldOption-boxShadowColor--hover: var(--blue-9);
  --DateInputField-backgroundColor: var(--grey-1);
  --DateFieldCalendarIcon-fill: var(--grey-14);
  --DateFieldInputCalendarIcon-fill: var(--grey-7);
  --DateFieldInputCalendarIcon-fill--focus: var(--blue-9);
  --DateFieldOverlay-backgroundColor: var(--grey-1);
  --DateFieldOverlay-boxShadowColor: var(--grey-8);
  --DateFieldNav-color: var(--grey-14);
  --DayPicker-color: var(--grey-7);
  --DayPicker-color--outside: var(--blue-7);
  --DayPicker-color--disabled: var(--blue-7);
  --DayPicker-color--today: var(--grey-7);
  --DayPicker-backgroundColor--selected: var(--blue-9);
  --DayPicker-color--selected: var(--grey-1);
  --DayPicker-backgroundColor--hover: var(--blue-8);
  --PhoneInputCountryIcon-borderColor: var(--blue-3);

  --FormFieldTooltip-color: var(--grey-1);
  --FormFieldLabelText-color: var(--grey-13);
  --FormFieldTooltip-backgroundColor: var(--grey-11);
  --FormFieldTooltipSvg-fill: var(--blue-7);

  --ImageLoaderPlaceholder-backgroundColor: var(--blue-9);
  --ImageLoaderPlaceholderImage-fill: var(--grey-1);

  --SpinnerBar-boxShadowColor: var(--grey-8);
  --SpinnerBar-backgroundColor--default: var(--grey-13);
  --SpinnerBar-backgroundColor--primary: var(--blue-9);
  --SpinnerBar-backgroundColor--secondary: var(--grey-1);

  --SidebarContent-backgroundColor: var(--grey-1);
  --SidebarBackground-backgroundColor: var(--grey-11);

  --Modal-backgroundColor: var(--grey-11);
  --ModalForm-backgroundColor: var(--grey-1);
  --ModalForm-color: var(--grey-13);
  --ModalFormTitle-borderBottomColor: var(--blue-3);
  --ModalFormLabel-color: var(--grey-7);
  --ModalHeader-backgroundColor--mobile: var(--grey-1);
  --ModalHeader-boxShadow--mobile: 0 1px 4px 0 var(--grey-8);

  --Skeleton-backgroundColor: var(--grey-8);

  --Tab-backgroundColor: var(--grey-1);
  --Tab-boxShadowColor: var(--blue-3);
  --Tab-color: var(--grey-13);
  --Tab-backgroundColor--active: var(--blue-1);
  --Tab-boxShadowColor--active: var(--blue-9);
  --Tab-color--active: var(--blue-9);

  /* Modules */
  --AppointmentCirclesItem-borderColor: var(--blue-9);
  --ApointmentForm-backgroundColor: var(--blue-1);
  --ApointmentDescription-color: inherit;
  --ApointmentFormLegend-color: var(--grey-7);
  --ApointmentIcon-fill: var(--grey-7);
  --ApointmentCheckIcon-stroke: var(--grey-13);
  --AppointmentFormTextarea-borderColor: var(--blue-3);
  --AppointmentLeave-color: var(--grey-13);
  --AppointmentRadarCircle-stroke: var(--blue-9);

  --AppointmentRegister-backgroundColor: var(--grey-1);
  --AppointmentRegister-boxShadow: 0 1px 4px 0 var(--grey-8);
  --AppointmentRegister-color: var(--grey-7);
  --AppointmentRegisterHeader-borderBottomColor: var(--blue-3);

  --CallControlBtn-backgroundColor: var(--grey-1);
  --CallControlBtn-color: var(--grey-1);
  --CallControlBtn-backgroundColor--active: var(--grey-12);
  --CallControlBtnIcon-fill--active: var(--grey-1);
  --CallControlBtnEndCall-backgroundColor: var(--red-5);
  --CallControlBtnEndCallIcon-fill: var(--grey-1);

  --ChatContainer-backgroundColor: var(--grey-1);
  --ChatContainer-boxShadow: 0 1px 4px 0 var(--grey-8);
  --ChatContainerHeader-boxShadow: 0 0 6px 0 var(--grey-10);
  --ChatContainerDialogInfo-color: inherit;
  --ChatContainerHeaderCallTime-color: var(--blue-7);
  --ChatContainerMain-backgroundColor: var(--blue-2);

  --ChatInput-boxShadow: 0 -1px 6px 0 var(--blue-3);
  --ChatInput-backgroundColor: inherit;
  --ChatInputTextarea-backgroundColor: var(--grey-1);
  --ChatInputTextareaPlaceholder-color: var(--blue-3);
  --ChatInputTextarea-color: var(--grey-13);
  --ChatInputIcon-fill: var(--blue-9);

  --ChatMessages-backgroundColor: var(--blue-2);
  --ChatMessagesDate-backgroundColor: var(--blue-5);
  --ChatMessagesDate-color: var(--grey-1);
  --ChatMessageInfo-color: var(--blue-7);
  --ChatMessageBody-backgroundColor: var(--grey-1);
  --ChatMessageBody-color: var(--grey-13);
  --ChatMessageBody-backgroundColor--my: var(--blue-9);
  --ChatMessageBody-color--my: var(--grey-1);

  --ConclusionTitle-color: inherit;
  --ConclusionReady-color: inherit;

  --Header-backgroundColor: var(--blue-1);
  --HeaderLogo-height: 30px;
  --HeaderLogo-width: 195px;
  --HeaderIcon-fill: var(--grey-7);
  --HeaderLogoVersion-color: var(--blue-7);
  --HeaderChatUnreadDot-backgroundColor: var(--red-4);
  --HeaderChatUnreadDot-borderColor: var(--blue-1);
  --HeaderMenuItemText-color: var(--grey-13);
  --HeaderMenuItemDivider-color: var(--blue-3);

  --Notification-backgroundColor: var(--grey-1);
  --Notification-boxShadowColor: var(--grey-10);
  --Notification-color: var(--grey-13);
  --Notification-backgroundColor--error: var(--red-5);
  --Notification-color--error: var(--grey-1);
  --Notification-backgroundColor--success: var(--blue-9);
  --Notification-color--success: var(--grey-1);
  --Notification-backgroundColor--cancel: var(--grey-11);
  --Notification-color--cancel: var(--grey-1);

  --ProviderDetails-backgroundColor: var(--grey-1);
  --ProviderDetails-boxShadow: 0 1px 4px 0 var(--grey-8);
  --ProviderDetailsBiographyMore-color: var(--blue-9);
  --ProviderDetails-color: inherit;
  --ProviderDetailsSelect-color: var(--blue-7);

  --ProviderList-backgroundColor: var(--grey-1);
  --ProviderList-borderRightColor: var(--blue-3);
  --ProviderList-boxShadow: 0 1px 4px 0 var(--grey-8);
  --ProviderListTitle-color: var(--blue-7);
  --ProviderListSearch-backgroundColor: var(--grey-1);
  --ProviderListSearch-borderColor: var(--blue-3);
  --ProviderListSearchPlaceholder-color: var(--blue-3);
  --ProviderListSearchIcon-fill: var(--blue-3);
  --ProviderListItem-backgroundColor--active: var(--blue-9);
  --ProviderListItemName-color--active: var(--grey-1);
  --ProviderListItemName-color: inherit;

  --UploadIndicator-backgroundColor: var(--blue-2);
  --UploadIndicator-boxShadowColor: var(--blue-3);
  --UploadIndicatorProgressBar-boxShadowColor: var(--grey-8);
  --UploadIndicatorProgressValue-backgroundColor: var(--blue-9);
  --UploadIndicatorProgressValue-backgroundImage: linear-gradient(
    45deg, var(--grey-6) 25%,
    transparent 25%, transparent 50%,
    var(--grey-6) 50%,
    var(--grey-6) 75%,
    transparent 75%,
    transparent
  );
  --UploadIndicatorProgressValue-boxShadowColor--moz: var(--grey-8);
  --UploadIndicatorCancel-backgroundColor: var(--blue-9);
  --UploadIndicatorCancel-borderColor: var(--blue-9);
  --UploadIndicatorCancel-color: var(--grey-1);
  --UploadIndicatorIcon-fill: var(--grey-1);

  --VideoCall-backgroundColor: var(--grey-7);
  --VideoCallChat-backgroundColor: var(--blue-1);
  --VideoCallChatUnreadDot-backgroundColor: var(--red-4);
  --VideoCallChatUnreadDot-borderColor: var(--blue-1);
  --VideoCallChatIcon-fill: var(--grey-1);
  --VideoCallOverlay-background: linear-gradient(180deg, var(--grey-7) 0%, transparent 100%);
  --VideoCallOverlay-color: var(--grey-1);
  --VideoCallVideoLocal-boxShadowColor: var(--grey-10);
  --VideoCallVideoLocal-backgroundColor: var(--grey-13);

  --WaitingNetworkContainer-backgroundColor: var(--grey-11);
  --WaitingNetworkContainer-boxShadowColor: var(--grey-10);
  --WaitingNetworkContainer-color: var(--grey-1);

  /* Modals */
  --AppointmentDetailsModal-backgroundColor: var(--grey-1);
  --AppointmentDetailsModal-color: var(--grey-13);
  --AppointmentDetailsModalItemLabel-color: var(--blue-7);
  --AppointmentDetailsModalHeader-borderBottomColor: var(--blue-3);
  --AppointmentDetailsModalCol-borderRightColor--first-child: var(--blue-3);
  --AppointmentDetailsModalHeaderTitle-color: var(--grey-13);
  --AppointmentDetailsModalHeaderDateDivider-backgroundColor: var(--grey-13);
  --AppointmentDetailsModalUserName-color: var(--grey-13);
  --AppointmentDetailsModalTitle-color: var(--blue-7);

  --CameraModalListItem-backgroundColor--active: var(--grey-2);
  --CameraModalListItem-boxShadowColor--active: var(--blue-9);
  --CameraModalListItem-backgroundColor--hover: var(--grey-2);
  --CameraModalListItem-boxShadowColor--hover: var(--blue-9);

  --CallModalUserName-color: var(--grey-13);
  --CallModalCalling-color: var(--grey-7);
  --CallModalBtnIcon-fill: var(--grey-1);
  --CallModalAcceptBtn-backgroundColor: var(--green-4);
  --CallModalDeclineBtn-backgroundColor: var(--red-6);

  --ConsultationTopicModalLabel-color: var(--grey-7);

  --LanguageModalItem-color--active: inherit;
  --LanguageModalItem-backgroundColor--active: var(--grey-2);
  --LanguageModalItem-boxShadowColor--active: var(--blue-9);
  --LanguageModalItem-backgroundColor--hover: var(--grey-2);
  --LanguageModalItem-boxShadowColor--hover: var(--blue-9);

  --ProviderBiographyModal-backgroundColor: var(--grey-1);
  --ProviderBiographyModal-color: var(--grey-13);
  --ProviderBiographyModalHeader-borderBottomColor: var(--blue-3);
  --ProviderBiographyModalUserName-color: var(--grey-13);

  /* Screens */
  --EmailLoginScreenForm-backgroundColor: var(--grey-1);
  --EmailLoginScreenForm-color: var(--grey-7);
  --EmailLoginScreenForm-boxShadow: 0 1px 4px 0 var(--grey-8);
  --EmailLoginScreenLink-color: var(--blue-9);
  --EmailLoginScreenLink-color--hover: var(--blue-9);

  --ProfileScreenForm-backgroundColor: var(--grey-1);
  --ProfileScreenForm-boxShadow: 0 1px 4px 0 var(--grey-8);
  --ProfileScreenForm-color: var(--grey-7);

  --RegistrationScreenForm-backgroundColor: var(--grey-1);
  --RegistrationScreenForm-color: var(--grey-7);
  --RegistrationScreenForm-boxShadow: 0 1px 4px 0 var(--grey-8);
  --RegistrationScreenLink-color: var(--blue-9);
  --RegistrationScreenLink-color--hover: var(--blue-9);

  --YourselfAboutScreen-backgroundColor: var(--grey-1);
  --YourselfAboutScreen-boxShadow: 0 1px 4px 0 var(--grey-8);
  --YourselfAboutScreen-color: var(--grey-7);
}
