.controls {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 10px;
}

.controls .tooltip-container {
  position: relative;
  display: inline-block;
  line-height: 0;
}

.controls .tooltip-body {
  font-size: var(--font-size-lg);
  line-height: 19px;
  visibility: hidden;
  position: absolute;
  width: 230px;
  height: 60px;
  color: var(--CallControlTooltip-color);
  background-color: var(--CallControlTooltip-backgroundColor);
  transition: opacity 0.25s linear;
  text-align: center;
  padding: 10px 20px;
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  box-sizing: border-box;
  top: calc(-100% - 25px);
  left: 50%;
  transform: translateX(-50%);
}

.controls .tooltip-body::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  bottom: -10px;
  right: calc(50% - 10px);
  transform: translateX(-50%);
  border-color: var(--CallControlTooltip-backgroundColor) transparent transparent transparent;
}

.controls .tooltip-container:hover .tooltip-body {
  visibility: visible;
  opacity: 1;
}

.controls .control-btn {
  background-color: var(--CallControlBtn-backgroundColor);
  border-radius: 5px;
  border: none;
  color: var(--CallControlBtn-color);
  font-size: var(--font-size-xs);
  height: 44px;
  line-height: 13px;
  margin: 0 10px;
  padding: 0;
  width: 44px;
}

.controls .control-btn:disabled {
  opacity: 0.6;
}

.controls .control-btn.active {
  background-color: var(--CallControlBtn-backgroundColor--active);
}

.controls .control-btn.disable,
.control-btn.active-record {
  background-color: var(--CallControlBtn-backgroundColor--disable);
}

.controls .control-btn .icon {
  height: 22px;
  vertical-align: middle;
  width: 22px;
}

.controls .control-btn .icon path,
.icon-device path {
  fill: var(--CallControlBtnIcon-fill);
}

.controls .control-btn.active .icon path {
  fill: var(--CallControlBtnIcon-fill--active);
}

.controls .control-btn .record {
  background-color: var(--CallControlBtnRecord-backgroundColor);
  border-radius: 50%;
  height: 16px;
  margin: 0 auto;
  vertical-align: middle;
  width: 16px;
}

.controls .control-btn.active .record {
  border-radius: 0%;
}

.controls .control-btn.end-call {
  background-color: var(--CallControlBtnEndCall-backgroundColor);
  font-weight: bold;
  padding: 0 1.2em;
  width: auto;
}

.controls .control-btn.end-call .icon {
  fill: var(--CallControlBtnEndCallIcon-fill);
}

@media screen and (max-width: 768px) {

  .controls {
    padding-top: 15px;
  }

}
