.button {
  box-sizing: border-box;
  border-radius: 4px;
  font-size: var(--font-size-xl);
  line-height: 22px;
  padding: 11px 25px;
  margin: 0;
  text-align: center;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.button:focus {
  outline: none;
  box-shadow: 0 4px 11px 4px var(--Btn-boxShadowColor--focus);
}

.button.button-sm {
  min-width: 133px;
}

.button.button-md {
  min-width: 160px;
}

.button.button-lg {
  padding-left: 10px;
  padding-right: 10px;
}

.button.button-xl {
  padding-left: 85px;
  padding-right: 85px;
}

.button.button-default {
  border: 1px solid var(--Btn-borderColor--default);
  background-color: var(--Btn-backgroundColor--default);
  color: var(--Btn-color--default)
}

.button.button-primary {
  background-color: var(--Btn-backgroundColor--primary);
  color: var(--Btn-color--primary);
}

.button.button-disabled {
  background-color: var(--Btn-backgroundColor--disabled);
  color: var(--Btn-color--disabled);
}

@media screen and (max-width: 768px) {
  .button.m-button-sm {
    min-width: 133px;
  }

  .button.m-button-auto {
    min-width: auto;
    width: 100%;
  }
}
