.appointment-finish-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  transition: flex 0.2s linear;
}

.appointment-finish-wrapper .appointment-finish-title {
  margin: 50px 0 0;
  color: inherit;
}

.appointment-finish-wrapper .appointment-finish {
  max-width: 500px;
  margin: 150px 0;
}

.appointment-finish-wrapper .appointment-finish .register-title {
  color: inherit;
}

.appointment-finish-wrapper .btn-group {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
}

.appointment-finish-wrapper .appointment-finish-description {
  width: 100%;
  max-width: 550px;
}


@media screen and (max-width: 768px) {
  .appointment-finish-wrapper {
    width: calc(100% - 30px);
    padding: 0 15px 30px;
  }

  .appointment-finish-wrapper .appointment-finish {
    margin: 50px 0;
  }

  .appointment-finish-wrapper .btn-group {
    flex-direction: column;
  }
}
