.main-screen .call-screen-container {
  display: flex;
  flex-direction: column;
  flex: 0;
  height: 100%;
  overflow: hidden;
  transition: flex 0.2s linear;
  max-height: 100vh;
}

.main-screen .call-screen {
  align-items: center;
  background-color: var(--VideoCall-backgroundColor);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.main-screen.on-call .call-screen-container {
  flex: 1;
}

.main-screen .call-screen .videos {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.main-screen .call-screen .videos .video-container {
  display: flex;
  flex: 1;
  max-height: 50%;
  position: relative;
  width: 100%;
}

.main-screen .call-screen .videos .video-container .overlay {
  background: var(--VideoCallOverlay-background);
  box-sizing: border-box;
  color: var(--VideoCallOverlay-color);
  font-size: var(--font-size-lg);
  left: 0;
  padding: 20px;
  position: absolute;
  right: 0;
  text-align: start;
  top: 0;
}

.main-screen .call-screen .videos .video-container .overlay p {
  margin: 0 0 5px 0;
}

.main-screen .call-screen .videos .video-container video {
  max-height: 100%;
  width: 100%;
}

.main-screen .call-screen .videos #local {
  display: flex;
  flex: 1;
  max-height: 50%;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .main-screen .call-screen-container {
    flex: 1;
  }

  .main-screen .call-screen .videos .video-container {
    max-height: 100%;
  }

  .main-screen .call-screen .videos video#local {
    box-shadow: 0 9px 20px 0 var(--VideoCallVideoLocal-boxShadowColor);
    bottom: 0;
    flex: 0;
    max-height: 25%;
    max-width: 25%;
    min-height: 15%;
    position: absolute;
    right: 0;
    background-color: var(--VideoCallVideoLocal-backgroundColor);
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
  }

  .main-screen .call-screen .videos video#local.hide {
    opacity: 0;
  }
}
