.edit-notes {
  right: unset;
  left: unset;
}

.edit-notes.active {
  z-index: 10;
}

.edit-notes .form {
  width: 623px;
}

.edit-notes .form .body {
  align-items: flex-start;
}

.edit-notes .field {
  width: 100%;
  resize: none;
}

.edit-notes .form-field-label {
  font-size: var(--caption2-size);
  line-height: var(--caption2-line-height);
  color: var(--Secondary-elements);
}

.edit-notes .back {
  background-color: transparent;
  border: none;
  display: none;
  height: 28px;
  padding: 4px;
  width: 28px;
  margin-right: 15px;
}

.edit-notes .back .icon {
  height: 20px;
  width: 20px;
  fill: var(--secondary-900);
}

.edit-notes-body {
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .edit-notes {
    opacity: 1;
    right: -100%;
    transition: right 0.25s ease-in-out;
    z-index: 10;
  }

  .edit-notes.active {
    right: 0;
  }

  .edit-notes .icon-close {
    display: none;
  }

  .edit-notes .form {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: var(--blue-1);
    transform: scale(1);
    transition: none;
    overflow: auto;
  }

  .edit-notes .form .body {
    padding: 0;
  }

  .edit-notes .form-field {
    display: flex;
    justify-content: center;
  }

  .edit-notes .form-field-input {
    width: 100%;
  }

  .edit-notes .edit-notes-header {
    display: flex;
    align-items: center;
    background-color: var(--Interface-background);
    box-shadow: 0 1px 4px 0 var(--grey-8);
    padding: 17px 13px;
    width: 100%;
    box-sizing: border-box;
  }

  .edit-notes-body {
    padding: 0 15px;
  }

  .edit-notes .form-field-label {
    font-size: var(--body-size);
    font-weight: var(--body-weight);
    line-height: var(--body-line-height);
  }

  .edit-notes .form-field-input {
    margin-top: 15px;
    width: 100%;
  }

  .edit-notes .back {
    display: inline-block;
  }
}
