.provider-details {
  background-color: var(--Interface-background);
  border-radius: 0 5px 5px 0;
  box-shadow: 0 1px 4px 0 var(--grey-8);
  padding: 20px 25px 40px;
  margin: 1px 0 0 1px;
  box-sizing: border-box;
  color: inherit;
}

.provider-info.open .provider-details {
  border-radius: 5px;
}

.provider-info.open .provider-details {
  border-radius: 5px;
}

.provider-details.loading {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.provider-details .provider-header {
  display: flex;
  align-items: center;
}

.provider-details .back {
  background-color: transparent;
  border: none;
  display: none;
  height: 28px;
  padding: 4px;
  width: 28px;
  margin-right: 15px;
}

.provider-details .back .icon {
  height: 20px;
  width: 20px;
  fill: var(--secondary-900);
}

.provider-details .provider-avatar {
  width: 60px;
  height: 60px;
}

.provider-details .provider-name,
.provider-details .provider-name-skeleton {
  margin-left: 12px;
}

.provider-details .provider-name {
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  line-height: var(--h2-line-height);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.provider-details .provider-content {
  margin-top: 10px;
}

.provider-details .provider-description {
  text-align: start;
  font-size: var(--body-size);
  line-height: var(--body-line-height);
  margin: 0;
  white-space: pre-wrap;
  font-family: inherit;
  max-height: 198px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.provider-details .biography-controls {
  display: flex;
  justify-content: left;
  margin-top: 20px;
}

.provider-details .biography-more {
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
  font-size: var(--body-size);
  letter-spacing: 0;
  color: var(--Main-elements);
  padding: 0;
}

.provider-details .btn-group {
  display: flex;
  gap: 16px;
  text-align: start;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .provider-details {
    padding: 0;
    background-color: var(--blue-1);
    box-shadow: none;
  }

  .provider-details .provider-header {
    background-color: var(--Interface-background);
    box-shadow: 0 1px 4px 0 var(--grey-8);
    padding: 17px 13px;
  }

  .provider-details .back {
    display: inline-block;
  }

  .provider-details .provider-avatar {
    width: 26px;
    height: 26px;
  }

  .provider-details .provider-name {
    font-size: var(--body-size);
    font-weight: normal;
    line-height: var(--body-line-height);
  }

  .provider-details .provider-content {
    margin: 16px 8px;
    padding: 12px 12px 50px;
    background-color: var(--Interface-background);
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 var(--grey-8);
  }
}
