.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 12px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--blue-1);
}

.header .header-nav {
  display: flex;
  align-items: center;
}

.header .logo {
  display: flex;
  align-items: center;
  margin: 10px auto 10px 18px;
}

.header .logo .icon {
  height: 30px;
  width: 195px;
}

.header .logo a {
  line-height: 0;
}

.header .header-nav .icon {
  fill: var(--Secondary-elements);
  height: 24px;
  width: 24px;
  vertical-align: middle;
  flex-shrink: 0;
}

.header .logo .version {
  color: var(--blue-7);
  font-size: var(--font-size-xs);
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 6px;
}

.header .btn {
  height: 28px;
  width: 28px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.header .logout {
  font-size: var(--body-size);
  font-weight: 600;
  line-height: 0;
  padding: 4px;
  width: auto;
}

.header .btn.logout .logout-text {
  margin-left: 10px;
}

.header .header-dropdown .dropdown-label {
  font-weight: 600;
  font-size: var(--body-size);
  line-height: var(--body-line-height);
  margin: 0 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header .icon.icon-lang {
  height: 24px;
  width: 24px;
}

.header .header-dropdown .icon.icon-dropdown {
  height: 24px;
  width: 24px;
}

.header .header-nav-right > *:not(:first-child) {
  margin-left: 10px;
}

.header .dropdown-nav {
  max-width: 180px;
}

.header .dropdown-nav .icon.icon-user {
  height: 24px;
  width: 24px;
}

.header-menu {
  list-style-type: none;
  padding: 0;
}

.header-menu .menu-item {
  cursor: pointer;
}

.header-menu .menu-item-text {
  display: block;
  padding: 8px 16px;
  font-size: var(--body-size);
  line-height: var(--body-line-height);
  color: var(--secondary-900);
  text-decoration: none;
}

.header-menu .menu-item-divider {
  cursor: default;
  pointer-events: none;
  border-top: 1px solid var(--blue-3);
  margin: 8px 0;
}

@media screen and (max-width: 768px) {
  .offline .header {
    top: 41px;
  }

  .header {
    padding: 15px 12px;
    align-items: flex-start;
  }

  .header .header-nav {
    flex: 1 1 50px;
  }

  .header .header-nav-right {
    justify-content: flex-end;
  }

  .header:not(.header-auth) {
    margin-bottom: 15px;
  }

  .header .logo {
    flex-direction: column;
    margin: 0;
  }

  .header .logo .version {
    margin: 18px 0 0;
  }

  .header.header-auth .logo .version {
    display: none;
  }

  .header .btn.logout .logout-text {
    display: none;
  }
}
