.input-container {
  align-items: flex-end;
  background-color: var(--ChatInput-backgroundColor);
  box-shadow: var(--ChatInput-boxShadow);
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 0;
  max-height: 40%;
}

.input-container .icon {
  height: 20px;
  width: 20px;
}

.input-container button {
  background-color: transparent;
  border: none;
  height: 45px;
  padding: 10px;
  width: 45px;
}

.input-container .attachment {
  padding:  0;
}

.input-container .attachment label {
  padding: 11px 12px;
}

.input-container .attachment .icon {
  vertical-align: middle;
}

.input-container .textbox-field {
  position: relative;
  box-sizing: border-box;
  flex: 1;
  background-color: var(--ChatInputTextarea-backgroundColor);
  height: 100%;
}

.input-container .textbox-input {
  box-sizing: border-box;
  color: var(--ChatInputTextarea-color);
  flex: 1;
  font-family: inherit;
  font-size: var(--font-size-xl);
  height: 100%;
  line-height: 22px;
  padding: 12px;
  text-align: start;
  overflow-y: auto;
  word-break: break-word;
  white-space: pre-wrap;
}

.input-container .textbox-input * {
  font-weight: normal;
  font-style: normal;
  text-transform: none;
}

.input-container .textbox-input.disabled {
  cursor: not-allowed;
}

.input-container .textbox-placeholder {
  position: absolute;
  pointer-events: none;
  color: var(--ChatInputTextareaPlaceholder-color);
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.input-container .icon path {
  fill: var(--ChatInputIcon-fill);
}

.input-container .attachment label {
  cursor: inherit;
  font-size: var(--font-size-xxl);
  line-height: 20px;
}

.input-container .attachment .icon {
  transform: rotate(45deg);
}

@media screen and (max-width: 768px) {
  .input-container {
    max-height: 75px;
  }
}
