.section-item {
  align-items: flex-start;
  border-bottom: 1px solid var(--Accordeon-borderBottomColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}

.section-item .title {
  align-items: center;
  background-color: var(--AccordeonBtn-backgroundColor);
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
  margin: 0;
  outline: none;
  width: 100%;
}

.section-item .icon-container {
  display: flex;
}

.section-item .icon {
  margin-left: 20px;
  fill: var(--AccordeonIcon-fill);
}

.section-item .title .icon.arrow {
  height: 12px;
  transition: transform 0.2s ease-in;
  width: 12px;
}

.section-item .body {
  background-color: var(--AccordeonBody-backgroundColor);
  border: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: var(--font-size-lg);
  height: 0;
  line-height: 19px;
  outline: none;
  overflow: auto;
  padding: 0 12px;
  resize: none;
  transition: all 0.2s ease-in;
  width: 100%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.section-item.active .icon.arrow {
  transform: rotate(90deg);
}

.section-item.active .body {
  height: 245px;
  padding: 12px 12px;
}
