.controls {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 10px;
}

.controls.minimalistic {
  padding-bottom: 10px;
}

.controls .control-btn {
  background-color: var(--secondary-400);
  border-radius: 5px;
  border: none;
  color: var(--Tertiary-font);
  font-size: var(--font-size-xs);
  height: 44px;
  line-height: 13px;
  margin: 0 10px;
  padding: 0;
  width: 44px;
}

.controls.minimalistic .control-btn {
  height: 38px;
  width: 38px;
  margin: 0 6px;
}

.controls .control-btn:disabled {
  opacity: 0.6;
}

.controls .control-btn.active {
  background-color: var(--Incoming-background);
}

.controls .control-btn.disable,
.control-btn.active-record {
  background-color: var(--Warning);
}

.controls .control-btn .icon {
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

.controls .control-btn .icon path,
.icon-device path {
  fill: var(--Tertiary-elements);
}

.controls.minimalistic .control-btn .icon {
  height: 16px;
  width: 16px;
}

.controls .control-btn.active .icon path {
  fill: var(--Secondary-elements);
}

.controls .control-btn .record {
  background-color: var(--Warning);
  border-radius: 50%;
  height: 16px;
  margin: 0 auto;
  vertical-align: middle;
  width: 16px;
}

.controls.minimalistic .control-btn .record {
  height: 14px;
  width: 14px;
}

.controls .control-btn.active .record {
  border-radius: 0%;
}

.controls .control-btn.end-call {
  background-color: var(--Warning);
  font-weight: bold;
  padding: 0 1.2em;
  width: auto;
}

.controls .control-btn.end-call .icon {
  fill: var(--Tertiary-elements);
}

@media screen and (max-width: 768px) {
  .controls {
    padding-top: 15px;
  }
}
