.modal {
  align-items: center;
  background-color: var(--Modal-backgroundColor);
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.25s linear;
  width: 100%;
  z-index: -1;
}

.modal.active {
  opacity: 1;
  z-index: 101;
}

.modal:not(.active) {
  pointer-events: none;
}

.modal .icon-close {
  cursor: pointer;
  position: absolute;
  height: 15px;
  width: 15px;
  top: 15px;
  right: 15px;
}

.modal .form {
  background-color: var(--ModalForm-backgroundColor);
  border-radius: 6px;
  color: var(--ModalForm-color);
  font-size: var(--font-size-xl);
  letter-spacing: 0;
  line-height: 22px;
  transform: scale(0);
  transition: transform 0.25s ease-in-out;
  width: 400px;
}

.modal.active .form {
  transform: scale(1);
}

.modal .form .title {
  border-bottom: 1px solid var(--ModalFormTitle-borderBottomColor);
  box-sizing: border-box;
  font-weight: 600;
  padding: 18px;
}

.modal .form .body {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 22px;
}

.modal .form .label {
  color: var(--ModalFormLabel-color);
  font-size: var(--font-size-lg);
  line-height: 19px;
}

.modal .form .row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.modal .form .btn-group {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .offline .modal.active {
    top: 41px;
  }

  .modal .form {
    width: 330px;
  }

  .modal .form .row {
    flex-wrap: wrap;
  }
}
