.messages-container {
  box-sizing: border-box;
  width: 100%;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--ChatMessages-backgroundColor);
}

.messages-container .spinner.active {
  top: 36px;
}

.messages-container .section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.messages-container .date {
  background-color: var(--ChatMessagesDate-backgroundColor);
  border-radius: 11px;
  box-sizing: border-box;
  color: var(--ChatMessagesDate-color);
  font-size: var(--font-size-sm);
  margin: 10px 0 0;
  opacity: 0.75;
  padding: 4px 18px;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  z-index: 1;
}

.messages-container .message {
  align-items: flex-start;
  align-self: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 0 10px 10px;
  max-width: 95%;
}

.messages-container .my.message {
  align-items: flex-end;
  align-self: flex-end;
  padding: 5px 10px 10px 0;
}

.messages-container .message .info {
  align-items: center;
  box-sizing: border-box;
  color: var(--ChatMessageInfo-color);
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-sm);
  justify-content: center;
  letter-spacing: 0;
  line-height: 17px;
  padding: 0 14px 4px 14px;
  text-align: start;
  width: 100%;
}

.messages-container .message .info .sender {
  flex: 1;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.messages-container .message .info .sent-at {
  margin-left: 10px;
}

.messages-container .message .body {
  background-color: var(--ChatMessageBody-backgroundColor);
  border-radius: 22px 22px 22px 0;
  color: var(--ChatMessageBody-color);
  font-size: var(--font-size-lg);
  letter-spacing: 0;
  line-height: 19px;
  box-sizing: border-box;
  padding: 11px 16px;
  text-align: start;
  white-space: pre-wrap;
  word-break: break-word;
}

.messages-container .my.message .body {
  background-color: var(--ChatMessageBody-backgroundColor--my);
  border-radius: 22px 22px 0 22px;
  color: var(--ChatMessageBody-color--my);
}

.messages-container .message .body.image-loader {
  background-color: initial;
  padding: 0;
}

.messages-container .message img.body,
.messages-container .message audio.body,
.messages-container .message video.body {
  max-height: 300px;
  max-width: 100%;
  padding: 0;
}

.messages-container .message .body[download] {
  text-align: center;
}

.messages-container .message .body .icon.download {
  height: 100px;
  width: 70px;
}
