.skeleton {
  display: inline-block;
  width: 100%;
  background-color: var(--grey-8);
  opacity: 0.4;
}

.skeleton.text {
  border-radius: 4px;
}

.skeleton.circular {
  border-radius: 50%;
}

.skeleton.rectangular {
  border-radius: 0;
}

.skeleton:empty:before {
  content: "\00a0";
}

.skeleton.pulse {
  animation: skeleton-pulse 1.5s ease-in-out 0.5s infinite;
}

@keyframes skeleton-pulse {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.4;
  }
}
