.avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar .avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar .avatar-icon {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  fill: var(--blue-3);
}
